<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
</head>
<body class="bg-gray-700">
    <!-- NavBar -->
    <nav class="flex items-center justify-between flex-wrap bg-gray-800 p-6">
        <div class="flex items-center flex-shrink-0 text-white mr-6">
            <span class="font-bold text-xl">Sydney Sabre</span>
        </div>

        <div class="w-full block flex-grow sm:flex sm:items-center sm:w-auto">
            <div class="text-sm sm:flex-grow">
                <a  
                    class="text-gray-400 hover:text-white block mt-4 sm:inline-block sm:mt-0 px-1" 
                    href="{{url_for('index')}}">
                    Lessons
                </a>
                <a  
                    class="text-gray-400 hover:text-white block mt-4 sm:inline-block sm:mt-0 px-1" 
                    href="{{url_for('show_classes')}}">
                    Classes
                </a>
            {% if current_user.is_admin: %}
                <a  
                    class="text-gray-400 hover:text-white block mt-4 sm:inline-block sm:mt-0 px-1" 
                    href="{{url_for('create_slot')}}">
                    Create Lesson Slot
                </a>
                <a  
                    class="text-gray-400 hover:text-white block mt-4 sm:inline-block sm:mt-0 px-1" 
                    href="{{url_for('create_slots')}}">
                    Create Lesson Slots 
                </a>
                <a  
                    class="text-gray-400 hover:text-white block mt-4 sm:inline-block sm:mt-0 px-1" 
                    href="{{url_for('create_class')}}">
                    Create Class
                </a>
            {% endif %}
            </div>
            {% if current_user.is_authenticated: %}
            <div>
                <a  
                class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-blue-500 hover:bg-white mt-4 md:mt-0" 
                href="{{url_for('logout')}}">
                Logout
                </a>
            </div>
            {% else %}
            <div class="mr-2">
                <a  
                class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-blue-500 hover:bg-white mt-4 md:mt-0" 
                href="{{url_for('login')}}">
                Login
                </a>
            </div>
            <div>
                <a  
                class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-blue-500 hover:bg-white mt-4 md:mt-0" 
                href="{{url_for('register')}}">
                Register
                </a>
            </div>
            {% endif %}

        </div>
    </nav>
    <hr>

    <!-- Flashed Messages -->
    <!-- {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %} -->

    <!-- Block Content -->
    {% block content %}{% endblock %}
</body>

<footer>
    <div class="p-6">
        <p class="text-gray-400">
            &copy; 
            <script type="text/javascript">
                document.write(new Date().getFullYear());  
            </script>
            Sydney Sabre
        </p>


    </div>
</footer>

</html>