{% extends 'base.html' %}

{% block title %}
Book Slot
{% endblock %}

{% block content %}
    {% if current_user.is_authenticated: %}
    <div class="container">
        <h1 class="text-gray-400 my-2 text-3xl font-bold">{{ self.title() }}</h1>
        <p class="text-gray-400">Enter student details</p>
        {% if current_user.is_admin: %}
        {% else %}
        <p class="text-white">Name: {{ form.name.data }}</p>
        <p class="text-white">Email: {{ current_user.email }}</p>
        <p class="text-white">Date: {{ form.date.data }}</p>
        <p class="text-white">Time: {{ form.time.data }}</p>
        <p class="text-white">Instructor: {{ form.instructor.data }}</p>
        {% endif %}


        <form action="" method="post" novalidate>
            {% if current_user.is_admin: %}
            <div class="my-2">
                <p class="text-white">
                    {{ form.date.label }}
                </p>
                <p>
                    {{ form.date }}
                </p>
                {% for error in form.date.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="my-2">
              <p class="text-white">
                  {{ form.time.label }}
              </p>
              <p>
                  {{ form.time }}
              </p>
              {% for error in form.time.errors %}
              <span style="color: red;">[{{ error }}]</span>
              {% endfor %}
            </div>
            <div class="my-2">
                <p class="text-white">
                    {{ form.name.label }}
                </p>
                <p>
                    {{ form.name }}
                </p>
                {% for error in form.name.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            {% else %}
            <p hidden>
                {{ form.date }} {{ form.time }} {{ form.name }} {{ form.instructor }}
            </p>
            {% endif %}
            {{ form.hidden_tag() }}
            <div class="my-2">
                <p class="text-white">
                    {{ form.comment.label }}
                </p>
                <p>
                    {{ form.comment }}
                </p>
                {% for error in form.comment.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            {% if current_user.is_admin: %}
            <div class="my-2">
                <p class="text-white">
                    {{ form.instructor.label }}
                </p>
                <p>
                    {{ form.instructor }}
                </p>
                {% for error in form.instructor.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="my-2">
                <p class="text-white">
                    {{ form.paid.label }} {{ form.paid }}
                </p>
            </div>
            <!-- <div class="my-2">
                <p class="text-white">
                    {{ form.completed.label }} {{ form.completed }}
                </p>
            </div> -->
            {% endif %}
            <button class="bg-blue-400 hover:bg-blue-200 text-white font-bold py-2 px-4 rounded">{{ form.submit() }}</button>
        </form>
    </div>
    {% else %}
        <div class="container">
            <h1 class="text-gray-400 my-2 text-3xl font-bold">Please log in or register to book a lesson</h1>
        </div>
    {% endif %}
{% endblock %}