{% extends 'base.html' %}

{% block title %}
{{ current_class.class_name }} on {{ current_class.date.strftime('%a, %d %b %Y') }} at {{ current_class.time.strftime('%H:%M') }}
{% endblock %}

{% block content %}
  {% if current_user.is_authenticated: %}
    <div class="container">
        <h1 class="text-gray-400 my-2 text-3xl font-bold">{{ self.title() }}</h1>
        {% if current_user.is_admin: %}
        <a class="text-blue-600 hover:text-blue-200 font-bold" 
            href="{{ url_for('edit_class', class_slot_id=current_class.id) }}">
            Edit Class
        </a>
        {% else %}
        <!-- For Non-Admin -->
        {% endif %}
        <p class="text-gray-400">
            {{ current_class.class_description }}
        </p>
        {% if current_user.is_admin: %}
        {% for student in current_class.students %}
        <div class="flex mr-auto my-4 w-full md:w-3/4 lg:w-1/2">
            <div class="flex grow">
                <p class="text-white">
                    <b>Name: </b> {{ student.name }}
                <br>
                    <b>Email: </b> {{ student.email }}
                <br>
                    <b>Mobile: </b> {{ student.mobile }}
                <br>
                    <b>Paid: </b>
                    {% if student.paid == True: %}
                        <span style="color: green"> ✓</span>
                    {% else %}
                        <span style="color: red"> ✘</span>
                    {% endif %}
                </p>
            </div>
            <div class="flex">
                <a class="text-blue-600 hover:text-blue-200 font-bold" 
                    href="{{ url_for('edit_student', student_id=student.id) }}">
                    Edit Student
                </a>
            </div>
            <div class="flex">
                <a class="bg-red-400 hover:bg-red-200 text-white font-bold mx-2 px-3 py-2 rounded"   
                href="{{url_for('delete_student', student_id=student.id)}}">
                ✘
                </a>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <!-- For Non-Admin -->
            {% for student in current_class.students %}
            <div class="flex mr-auto my-4 w-full md:w-3/4 lg:w-1/2">
                <div class="flex grow">
                    <p class="text-white">
                    {% if current_user.id == student.user_id %}
                        <div class="flex mr-auto my-4 w-full md:w-3/4 lg:w-1/2">
                            <div class="flex grow">
                                <p class="text-white">
                                    <b>Name: </b> {{ student.name }}
                                <br>
                                    <b>Email: </b> {{ student.email }}
                                <br>
                                    <b>Mobile: </b> {{ student.mobile }}
                                <br>
                                    <b>Paid: </b>
                                    {% if student.paid == True: %}
                                        <span style="color: green"> ✓</span>
                                    {% else %}
                                        <span style="color: red"> ✘</span>
                                    {% endif %}
                                </p>
                            </div>
                            <div class="flex">
                                <a class="text-blue-600 hover:text-blue-200 font-bold" 
                                    href="{{ url_for('edit_student_self', student_id=student.id) }}">
                                    Edit Student
                                </a>
                            </div>
                            <div class="flex">
                                <a class="bg-red-400 hover:bg-red-200 text-white font-bold mx-2 px-3 py-2 rounded"   
                                href="{{url_for('delete_student_self', student_id=student.id)}}">
                                ✘
                                </a>
                            </div>
                        </div>
                    {% else %}
                        Student Details Hidden
                    {% endif %}
                    </p>
                </div>
            </div>   
            {% endfor %}
        {% endif %}
        {% if current_class.capacity != None  %}
        {% if current_class.students|length < current_class.capacity %}
            <p class="text-white">Places still available to book in this class: {{ current_class.capacity - current_class.students|length }}</p>
            <p class="text-white">Name: {{ form.name.data }}</p>
            <p class="text-white">Email: {{ current_user.email }}</p>
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                {% if current_user.is_admin: %}
                <div class="my-2">
                    <p class="text-white">
                        {{ form.name.label }}
                    </p>
                    <p>
                        {{ form.name }}
                    </p>
                    {% for error in form.name.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="my-2">
                    <p class="text-white">
                        {{ form.email.label }}
                    </p>
                    <p>
                        {{ form.email }}
                    </p>
                    {% for error in form.email.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                {% else %}
                <div class="my-2">
                    <p class="text-white">
                        {{ form.name.label }}
                    </p>
                    <p>
                        {{ form.name }}
                    </p>
                    {% for error in form.name.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="my-2">
                    <p class="text-white">
                        {{ form.email.label }}
                    </p>
                    <p>
                        {{ form.email }}
                    </p>
                    {% for error in form.email.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <!--<p hidden>
                    {{ form.name }} {{ form.email }}
                </p>-->
                {% endif %}
                <div class="my-2">
                    <p class="text-white">
                        {{ form.mobile.label }}
                    </p>
                    <p>
                        {{ form.mobile }}
                    </p>
                    {% for error in form.mobile.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                {% if current_user.is_admin: %}
                <div class="my-2">
                    <p class="text-white">
                        {{ form.paid.label }} {{ form.paid }}
                    </p>
                </div>
                {% endif %}
                    <button class="bg-blue-400 hover:bg-blue-200 text-white font-bold py-2 px-4 rounded">{{ form.submit() }}</button>
            </form>
        {% else %}
            <p class="text-white">This class has reached its capacity.</p>
        {% endif %}
        {% endif %}
    </div>
  {% else %}
    <div class="container">
        <h1 class="text-gray-400 my-2 text-3xl font-bold">Please log in or register to book a class</h1>
    </div>
  {% endif %}
{% endblock %}
