{% extends "base.html" %}

{% block title %}
Sydney Sabre Classes Active
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-gray-200 my-2 text-3xl font-bold">{{ self.title() }}</h1>
        {% for date in classes %}
        <div class="flex mr-auto my-4 w-full md:w-3/4 lg:w-1/2">
            <h2 class="text-gray-200 my-2 text-2xl font-bold">{{ date[0].date.strftime('%d %b %Y %a') }}</h2>
        </div>
            {% for time in date %}
            <div class="flex mr-auto my-4 w-full md:w-3/4 lg:w-1/2">
                {% if current_user.is_admin: %}
                <div class="flex grow">
                    {% if time.completed == True %}
                    <a class="grow bg-gray-700 hover:bg-gray-400 line-through text-white font-bold py-2 px-4 rounded"
                        href="{{ url_for('book_class', class_slot_id=time.id) }}">
                        {{ time.time.strftime('%H:%M')}}: {{ time.class_name }}, Slots booked = {{time.students|length }}/{{ time.capacity }}
                    </a>    
                    {% else %}
                    <a class="grow bg-blue-800 hover:bg-blue-400 text-white font-bold py-2 px-4 rounded"
                        href="{{ url_for('book_class', class_slot_id=time.id) }}">
                        {{ time.time.strftime('%H:%M')}}: {{ time.class_name }}, Slots booked = {{time.students|length }}/{{ time.capacity }}
                    </a>
                    {% endif %}
                </div>
                <div class="flex">
                    <a class="bg-red-400 hover:bg-red-200 text-white font-bold mx-2 px-3 py-2 rounded"
                        href="{{ url_for('delete_class', class_id=time.id) }}">
                        ✘
                    </a>
                </div>
                <div class="flex">
                    <a class="bg-green-400 hover:bg-green-200 text-white font-bold mx-2 px-3 py-2 rounded"
                    href="{{ url_for('toggle_complete_class', class_id=time.id) }}">
                        ✓
                    </a>
                </div>
                {% else %}
                    {% if time.completed == True %}
                        <p class="grow bg-gray-700 line-through text-white font-bold py-2 px-4 rounded">
                            {{ time.time.strftime('%H:%M')}}: {{ time.class_name }}, Slots booked = {{time.students|length }}/{{ time.capacity }}
                        </p>    
                    {% else %}
                    <a class="grow bg-blue-800 hover:bg-blue-400 text-white font-bold py-2 px-4 rounded"
                        href="{{ url_for('book_class', class_slot_id=time.id) }}">
                        {{ time.time.strftime('%H:%M')}}: {{ time.class_name }}, Slots booked = {{time.students|length }}/{{ time.capacity }}
                    </a>
                    {% endif %}
                {% endif %}
            </div>
            {% endfor %}
        {% endfor %}
{% endblock %}






  
