{% extends "base.html" %}

{% block title %}
Sydney Sabre Lessons 
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-gray-200 my-2 text-3xl font-bold">{{ self.title() }}</h1>
        {% for date in all_slots%}
        <div class="flex mr-auto my-4 w-full md:w-3/4 lg:w-1/2">
            <h2 class="text-gray-200 my-2 text-2xl font-bold">{{ date[0].date.strftime('%d %b %Y %a') }}</h2>
        </div>
            {% for time in date %}
                {% if current_user.is_admin: %}
                    <div class="flex ml-12 mr-auto my-4 w-3/4 md:w-1/2 lg:w-1/2">
                        {% if time.completed == True: %}
                        <a class="grow bg-gray-700 line-through text-white font-bold py-2 px-4 rounded"
                        {% elif time.name == None: %}
                        <a class="grow bg-gray-800 hover:bg-gray-400 text-white font-bold py-2 px-4 rounded"
                        {% elif time.paid == True: %}
                        <a class="grow bg-green-800 hover:bg-green-400 text-white font-bold py-2 px-4 rounded"
                        {% else %}
                        <a class="grow bg-red-800 hover:bg-red-400 text-white font-bold py-2 px-4 rounded"
                        {% endif %}
                            href="{{ url_for('book_slot', slot_id=time.id) }}">
                            {{ time.time.strftime('%H:%M') }} booked for {{ time.name }}
                        </a>
                        <div class="flex">
                            <a class="bg-red-400 hover:bg-red-200 text-white font-bold mx-2 px-3 py-2 rounded"   
                                href="{{url_for('delete_slot', slot_id=time.id) }}">
                                ✘
                            </a>
                        </div>
                        <div class="flex">
                            <a class="bg-green-400 hover:bg-green-200 text-white font-bold mx-2 px-3 py-2 rounded"   
                                href="{{url_for('toggle_complete_slot', slot_id=time.id) }}">
                                ✓
                            </a>
                        </div>
                    </div>
                {% else %}
                    {% if time.completed == True: %}
                    <div class="flex grow">
                        <p class="grow bg-gray-700 text-white line-through font-bold py-2 px-4 rounded">
                            {{ time.time.strftime('%H:%M') }} is completed
                        </p>
                    </div>
                    {% elif time.name == None: %}
                    <div class="flex grow">
                        <a class="grow bg-gray-800 hover:bg-gray-400 text-white font-bold py-2 px-4 rounded"
                            href="{{ url_for('book_slot', slot_id=time.id) }}">
                            {{ time.time.strftime('%H:%M') }} is available.
                        </a>
                    </div>
                    {% elif time.paid == True: %}
                    <div class="flex grow">
                        <p class="grow bg-green-600 text-white font-bold py-2 px-4 rounded">
                            {{ time.time.strftime('%H:%M') }} is booked and paid.
                        </p>
                    </div>
                    {% else %}
                    <div class="flex grow">
                        <p class="grow bg-red-800 text-white font-bold py-2 px-4 rounded">
                            {{ time.time.strftime('%H:%M') }} is already booked.
                        </p>
                    </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endfor%}
        <div class="inline-flex">
            <a class="bg-gray-800 hover:bg-gray-400 text-white font-bold py-2 px-4 rounded-l" href="{{url_for('show_date', date=prev_date)}}">
              Prev
            </a>
            <a class="bg-gray-800 hover:bg-gray-400 text-white font-bold py-2 px-4 rounded-r" href="{{url_for('show_date', date=next_date)}}">
              Next
            </a>
          </div>
    </div>
{% endblock %}






  