{% extends "base.html" %}

{% block title %}
Login
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-gray-400 my-2 text-3xl font-bold">{{ self.title() }}</h1>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <div class="my-2">
                <p class="text-white">
                    {{ form.email.label }}
                </p>
                <p>
                    {{ form.email(size=32) }}
                </p>
                {% for error in form.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="my-2">
                <p class="text-white">
                    {{ form.password.label }}
                </p>
                <p>
                    {{ form.password(size=32) }}
                </p>
                {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="my-2">
                <p class="text-white">{{ form.remember_me() }} {{ form.remember_me.label() }}</p>
            </div>
            <button class="bg-blue-400 hover:bg-blue-200 text-white font-bold py-2 px-4 rounded">{{ form.submit() }}</button>
        </form>
    </div>
    

{% endblock %}

<!-- The form.hidden_tag() template argument generates a hidden field that includes a token that is used to protect the form against CSRF attacks. 
All you need to do to have the form protected is include this hidden field and have the SECRET_KEY variable defined in the Flask configuration. 
If you take care of these two things, Flask-WTF does the rest for you. -->