{% extends "base.html" %}

{% block title %}
Reset Your Password
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-gray-400 my-2 text-3xl font-bold">{{ self.title() }}</h1>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <div class="my-2">
                <p class="text-white">
                    {{ form.password.label }}
                </p>
                <p>
                    {{ form.password(size=32) }}
                </p>
                {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="my-2">
                <p class="text-white">
                    {{ form.password2.label }}
                </p>
                <p>
                    {{ form.password2(size=32) }}
                </p>
                {% for error in form.password2.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <button class="bg-blue-400 hover:bg-blue-200 text-white font-bold py-2 px-4 rounded">{{ form.submit() }}</button>
        </form>
    </div>
    

{% endblock %}